html {
  font-family: sans-serif;
}

.nav-bar-main {
  display: flex;
  gap: 1rem;
}

.main-nav-bar {
  display: flex;
  border: 2px solid black;
  padding: 2px 3px;
  border-radius: 20px;
}

.nav-bar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-left: auto;
}

.link {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(231, 241, 214);
  padding: 2.5px;
  font-style: oblique;
}

.main-logo {
  height: 4.2rem;
  width: 4rem;
}

.calculator {
  width: 500px;
  margin: 100px auto;
  padding: 30px;
  border: 2px solid #000000;
  border-radius: 5px;
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
}

#inputNumbers {
  width: calc(100% - 22px);
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #000000;
  border: 2px solid black;
  background-color: rgb(231, 241, 214);
}
button:hover {
  background-color: white;
}

button:hover {
  background-color: #f0f0f0;
}

.calc-button {
  color: black;
  background-color: white;
}

#output {
  margin-top: 10px;
  padding: 5px;
  font-size: 18px;
}

#outputNumbers {
  width: calc(100% - 22px);
  padding: 20px;
}
